<div>

    <h2>Telephones</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveTelephoneModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Telephone
    </button>
    <div class="modal fade" id="saveTelephoneModal" tabindex="-1" role="dialog" aria-labelledby="myTelephoneLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTelephoneLabel">Create or edit a Telephone</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="telephone.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Numero</label>
                            <input type="number" class="form-control"
                                   ng-model="telephone.numero">
                        </div>
                        <div class="form-group">
                            <label>Proprietaire</label>
                            <input type="text" class="form-control"
                                   ng-model="telephone.proprietaire">
                        </div>
                        <div class="form-group">
                            <label>Pin</label>
                            <input type="number" class="form-control"
                                   ng-model="telephone.pin">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Numero</th>
                    <th>Proprietaire</th>
                    <th>Pin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="telephone in telephones">
                    <td>{{telephone.id}}</td>
                    <td>{{telephone.numero}}</td>
                    <td>{{telephone.proprietaire}}</td>
                    <td>{{telephone.pin}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(telephone.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(telephone.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
